/* Asegúrate de que el body y el html ocupen toda la altura de la ventana */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Evita el scroll */
}

.login-container {
    width: 390px; /* Ancho del contenedor de login */
    height: 844px; /* Alto del contenedor de login */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    overflow-x: hidden;
    overflow-y: hidden;
}

.login-box {
    display: flex;
    flex-direction: column; /* Apilar elementos verticalmente */
    align-items: center; /* Centra horizontalmente */
    width: 100%; /* Usar el ancho completo del contenedor */
    padding: 20px; /* Espaciado interior */
    box-sizing: border-box; /* Incluye padding en el ancho total */
}

.title {
    text-align: center;
    font-family: Moul;
    font-size: 2.5rem; /* Ajusta el tamaño con unidades relativas */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(90deg, #BD61DE 0%, #A6FADC 99.99%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.rectangle {
    width: 359px; /* Ancho del input */
    height: 50px; /* Alto del input */
    border-radius: 10px; /* Bordes redondeados */
    background: #D9D9D9; /* Color de fondo */
    margin-bottom: 10px; /* Espaciado entre elementos */
}

.login-button {
    width: 100%; /* Cambia el ancho a 100% */
    max-width: 285.714px; /* Ancho máximo */
    height: 50px; /* Alto del botón */
    border-radius: 10px; /* Bordes redondeados */
    display: flex;
    justify-content: center;
    align-items: center; 
    color: #FFF; /* Color del texto para el botón de login */
    text-align: center;
    font-family: Inter; /* Cambia según tus fuentes */
    font-size: 15px; /* Tamaño de fuente */
    font-weight: 600; /* Peso de fuente */
    margin: 0 auto; 
    line-height: 100px; 
    background: #BD61DE; /* Color de fondo para el botón de login */
    margin-top: 20px;
}

.register-button {
    color: black; /* Color del texto */
    margin-top: 10px; /* Espaciado superior */
}

.text {
    display: flex;
    width: auto; /* Ajusta a automático para el texto */
    height: auto; /* Ajusta a automático */
    flex-direction: column;
    justify-content: flex-end;
    color: #202020;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
}
