#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /*text-align: center;*/
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.card {
  padding: 2em;
  display: flex;
  flex-direction: column;
}

/* Aca empieza la app */


.icon {
  height: 5px;
  width: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.home-icon{
  background-image: url('./Resource/home.png'); 
}

.search-icon{
  background-image: url('./Resource/search2.png');
}

.create-icon{
  background-image: url('./Resource/create.png');
}

.notificacion-icon{
  background-image: url('./Resource/notificacion.png');
}

.profile-icon{
  background-image: url('./Resource/profile.png');
}

.logo {
  height: 5px;
  width: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.home-logo{
  background-image: url('./Resource/fakestagram.png');
  width: 85px;
  height: 85px;
  flex-shrink: 0;
}
